@mixin contextMenu() {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 5px 10px;
	background-color: #191919;
	border: 2px solid #393838;
	border-radius: 5px;
	cursor: default;
	button {
		text-align: left;
		background-color: transparent;
		color: #9b9b9b;
		font-weight: 600;
		font-size: 14px;
		letter-spacing: 1.2px;
		margin-bottom: 10px;
		padding: 4px 6px;
		border-radius: 5px;
		&:last-child {
			margin-bottom: 0;
		}
		&:hover {
			background-color: teal;
		}
	}
}

@mixin renameInput() {
	background-color: transparent;
	color: #9b9b9b;
	border: 1px solid teal;
	padding: 4px 6px;
	font-size: 14px;
}