.allNotes {
	margin-bottom: 20px;

	&__title {
		font-size: 20px;
		user-select: none;
			cursor: pointer;
			span {
				color: teal;
				font-size: 20px;
				margin-right: 10px;
			}
	}

	&__body {
		padding: 10px 0 0 20px;
	}
}