@import '_values';

.folder {
	margin-bottom: 8px;
	
	&__icon {
		color: teal;
		margin-right: 10px;
		font-size: 14px;
	}

	&__name {
		user-select: none;
		font-size: 20px;
		cursor: pointer;
	}

	&__notes {
		padding: 10px 0 0 20px;
	}
}

.folder__renaming {
	@include renameInput();
}

.folderMenu{
	@include contextMenu();
}