html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

input, button {
	outline: none;
	border: none;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

#root {
	width: 100%;
	height: 100%;
}

.app {
	width: 100%;
	height: 100%;
}