.main {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 20% 80%;
	overflow: hidden;
}



.notebook {
	grid-column: 2 / 3;
	background-color: #191919;
	color: #d4d4d4;
	padding: 50px 40px;
}