.DraftEditor-editorContainer {
	overflow-y: auto;
}

.public-DraftEditor-content {
	padding: 10px;
	letter-spacing: 1.07px;
	font-size: 16px;
	min-height: 100%;
}

.RichEditor-controls {
	margin-bottom: 15px;
}

.RichEditor-styleButton {
	margin-right: 25px;
	cursor: pointer;
}
.RichEditor-styleButton:hover {
	box-shadow: 0px 0px 10px 2px rgb(190, 116, 237);
}

.RichEditor-activeButton {
	color: yellow;
}

